:root {
    --primary-orange: #E27D60;
    --secondary-orange: #E8A87C;
    --primary-green: #85DCB0;
    --secondary-green: #41B3A3;
    --light-red: #C38D9E;
}

@font-face {
    font-family: 'comic_reliefregular';
    src: url('./fonts/web\ fonts/comicrelief_regular_macroman/ComicRelief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'comic_reliefregular';
}

header {
    height: 30rem;
    background-color: green;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

main {
    height: 50rem;
    background-color: blue;
}

footer {
    height: 25rem;
    background-color: red;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px;
    width: max(80%, 500px);
    justify-content: center;
    align-content: center;
}

.info {
    padding: 1rem;
    background-color: blue;
    display: grid;
    grid-auto-flow: row;
}

.info svg {
    height: 2.2rem;
    width: auto;
    justify-self: end;
}

.info div {
    display: grid;
    justify-items: end;
}

.about-me img {
    height: 22rem;
    width: auto;
}

/* mobile style */
@media (max-width: 600px) {
    header {
        height: 50rem;
    }
    
    main {
        height: 100rem;
    }
    
    footer {
        height: 60rem;
    }
}

