:root {
    --primary-orange: #E27D60;
    --secondary-orange: #E8A87C;
    --primary-green: #85DCB0;
    --secondary-green: #41B3A3;
    --light-red: #C38D9E;
}

@font-face {
    font-family: 'comic_reliefregular';
    src: url('./fonts/web\ fonts/comicrelief_regular_macroman/ComicRelief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'comic_reliefregular';
}

header {
    height: 30rem;
    background-color: var(--primary-orange);
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

main {
    background-color: var(--primary-green);
    padding: 6rem;
}

footer {
    background-color: var(--primary-orange);
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0px;
    width: max(80%, 500px);
    justify-content: center;
    align-content: center;
}

.info {
    padding: 1rem;
    background-color: var(--secondary-green);
    display: grid;
    grid-auto-flow: row;
}

.info svg {
    justify-self: end;
}

svg {
    height: 2.2rem;
    width: auto;
}

.info div {
    display: grid;
    justify-items: end;
}

.about-me img {
    height: 22rem;
    width: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-items: center;
    justify-content: center;
    gap: 3rem;
}

.project-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: var(--secondary-orange);
    padding: 1rem;
    border-radius: .8rem;
}

.card img {
    height: 20rem;
    width: 30rem;
    border-radius: .8rem;

}

.contact-information {
    padding: 3rem;
}

.contact-information div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.contact-information div {
    margin-bottom: 2rem;
}

.contact-information>a {
    margin-top: 3rem;
}

footer img {
    height: 40rem;
    width: auto;
    justify-self: end;
}



@media (max-width: 1300px) {
    footer {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0px;
    }

    footer img {
        width: 100%;
        height: auto;    
    }
}

/* mobile style */
@media (max-width: 600px) {
    header {
        height: 50rem;
    }
    
    .about-me {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .container {
        grid-template-columns: 100%;
    }

    .card img {
        width: 100%;

    }
    

}

@media (max-width: 22rem) {
    .about-me img {
        width: 100%;
        height: auto;
    }
}
